[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-cors = "*"
bs4 = "*"
requests = "*"
twine = "*"
wheel = "*"
lxml = "*"
black = "*"
libgen-api = "*"

[dev-packages]
mypy = "*"
black = "*"
pylint-flask = "*"
types-requests = "*"

[requires]
python_version = "3.11"
